/* 


MAIN -> CUERPO
    - IMAGENES FLOTANDO
    - CUERPO__USUARIO MOBILE
    - CUERPO__CONTENEDOR
        - CUERPO_MENU
            - CUERPO__USUARIO DESKTOP
            - CUERPO LINKS
                - CUERPO LINK VARIOS
        - CUERPO_CONFIRMACION
*/

/* CONTENIDO PRINCIPAL */
.cuerpo__confirmacion{
    gap: 15px;
}
.cuerpo__confirmacion h1{
    align-self: flex-start;
    font-weight: 400;
    width: 100%;
}
.confirmacion__div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.info{
    color: #616161;
}
.confirmacion__boton{
    background-color: #95C8E5;
    color: #000000;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
}

#mapa__computadora{
    display: none;
}
.derechos__reservados .p__computadora{
    display: none;
}


/*VISTA COMPUTADORA*/
@media(min-width:950px){
    /*EXITO*/
    .cuerpo__confirmacion{
        height: fit-content;
        width: 650px;
        max-width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(90deg, rgba(244, 244, 244, 0.11) 0%, rgba(115, 115, 115, 0.11) 100%);
    }
    .cuerpo__confirmacion img{
        margin-top: 20px;
    }
    .confirmacion__div{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }
    .confirmacion__info{
        line-height: 23px;
    }
    .confirmacion__boton{
        background-color: #95C8E5;
        color: #000000;
        padding: 15px 40px;
        text-decoration: none;
        margin: 0px;
        font-weight: bold;
        font-size: 13px;
        border-radius: 20px;
    }

    /*PIE DE PAGINA*/
    #mapa__celular{
        display: none;
    }
    #mapa__computadora {
        display: block;
    }
    #mapa__computadora img{
        width: 175px;
    }
    .pie{
        padding: 20px 30px;
        align-items: center;
        height: 100%;

    }
    .pie__contenedor{
        flex-direction: row;

    }
    .derechos__reservados{
        border-top: solid 1px #41A595;
        max-width: 860px;
        margin-top: 20px;
        width: 100%;
    }
    .derechos__reservados p{
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 10px;
    }

    .pie__columna{
        width: 200px
    }
    .derechos__reservados .p__celular{
        display: none;
    }
    .derechos__reservados .p__computadora{
        display: block;
    }
    @media(min-height:850px) {
        body{
            grid-template-rows: 100px auto 400px;
        }
    }
    
    @media(min-height:950px) {
        body{
            grid-template-rows: 100px auto 600px;
        }
    }
}
