.cuerpo__exito{
    gap: 15px;
}
.cuerpo__exito h1{
    text-align: center;
    font-weight: 400;
}
.cuerpo__exito p{
    color: #504f4f;
}
.exito__botones{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.exito__boton{
    background-color: #DCF5DD;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
}
.volver{
    background-color: #4A884F;
    color: #FFFFFF;
}
.descargar{
    background-color: #95C8E5;
}

/*VISTA COMPUTADORA*/
@media(min-width:950px) {
    /*EXITO*/
    .cuerpo__exito{
        display: flex;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(244, 244, 244, 0.11) 0%, rgba(115, 115, 115, 0.11) 100%);
        width: 650px;
        max-width: 650px;
        padding: 15px;
    }
    .cuerpo__exito h1{
        text-align: center;
        font-weight: bold;
    }
    .cuerpo__exito p{
        color: #504f4f;
        text-align: center;
    }
    .exito__botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        text-align: center;
        width: 100%;
    }
    .exito__boton{
        background-color: #DCF5DD;
        color: #000000;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 10px;
    }
    .volver{
        background-color: #4A884F;
        color: #FFFFFF;
        padding: 10px 30px;
    }
    .descargar{
        background-color: #95C8E5;
    }
}
