/*VISTA CELULAR*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    z-index: 10;
}

body{
    display: grid;
    grid-template-areas: "encabezado" "cuerpo" "pie";
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 450px auto auto;

    /*    grid-template-rows: 100px 600px auto; Para sitios normales
        grid-template-rows: 450px 600px auto;

    */
}
/*ENCABEZADO PARA EL INICIO*/
#encabezado__home{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px 20px 0px 20px;
    /* background: linear-gradient(to top, #DCF5DD 15%, #FFFFFF 15%, #DDF5DE 85%); */
    background: linear-gradient(to top, #F4F4F4 20%, #DDF5DE 80%, #DDF5DE 70%, #DDF5DE 100%);
}
.encabezado__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 0.5px solid #5A975E;
}

#encabezado__home .encabezado__descripcion{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.encabezado__cuerpo{
    margin: 20px 0px;
}

.encabezado__cuerpo div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.encabezado__cuerpo h1{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}
.encabezado__cuerpo h1 span{
    color: #5A975E;
}

.encabezado__cuerpo .auto{
    margin: 0 auto;
    margin-top: 40px;

    width: 300px;
    display: block;
}
.encabezado__boton{
    display: block;
    background-color: #72BBA8;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none; color: black;
}

 .encabezado__boton:hover{
    display: block;
    background-color: #72bba7aa;
    text-decoration: none; 
    color: black;
}


/*ENCABEZADO - PARA OTRAS PAGINA*/
.encabezado{
    grid-area: encabezado;
    height: 100px;
    background: linear-gradient(90deg, #DCF5DD 25%, #FFFFFF 49.6%, #DDF5DE 75%);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.encabezadoDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.encabezado__imagen{
    width: 60px;
}
#encabezado__mapa{
    display: none;
}

.encabezado__parrafo{
    text-align: center;
    font-weight: bold;
}
.encabezado__parrafo__dos{
    color: #41A595;
}

/*CUERPO O CONTENIDO DE LA PAGINA*/
.cuerpo{
    grid-area: cuerpo;
    background-color: #F4F4F4;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuerpo__titulo{
    font-weight: 400;
    font-size: 28px;
}

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;    
}

.servicios div{
    text-align: center;
}

.servicios div img{
    width: 100px;
}
.servicios div h2{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
}


.cuerpo__mapa{
    width: 155px;
}

#cuerpo__mapa__abajo{
    display: none;
}
#cuerpo__mapa__arriba{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;

}

.verificaciones{
    margin-top: 30px;
    max-width: 523px;
}
.verificaciones p{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
}
.verificaciones span{
    color: #5A975E;
}

.verificaciones__contenedor{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 523px;
}

.verificaciones__contenedor h4{
    font-size: 16px;
    color: #5A975E;
}
.verificaciones__contenedor span{
    font-size: 16px;
    margin-right: 4px;
    padding: 2px 6px;
    border: 2px solid #0a0a0a;
    color: #0a0a0a;
    border-radius: 50%;
}

.verificaciones__contenedor div p{
    margin-top: 10px;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.verificaciones__tarea{
    display: block;
    margin: 0 auto;
    width: 140px;
}

.acceso{
    width: 100%;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../imagenes/home.svg);
    padding: 40px 20px;
    max-width: 523px;

}
.acceso__contenedor{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.acceso__contenedor h2{
    color: #fff;
    font-weight: 300;
    text-align: center;
}
.acceso__contenedor__boton{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #0a0a0a;
    background-color: #DCF5DD;
    width: 160px;
    padding: 10px 30px;
    margin: 0 auto; 
    margin-top: 10px; 
    border-radius: 20px;
}

.login__boton{
    background-color: #5A975E;
    color: #fff;
}
.registrar__boton{
    background-color: #95C8E5;
}

.login__boton:hover{
    background-color: #5a975ea6;
    color: #fff;
}
.registrar__boton:hover{
    background-color: #95c8e57f;
}

.tramite{
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    font-weight: 100px;
}
.garantizado{
    text-align: center;
    color:#fff;
    margin: 10px;
    font-weight: 100;
}
/*PIE DE PAGINA*/
.pie{
    grid-area: pie;
    background: linear-gradient(90deg, #DCF5DD 25%, #FFFFFF 49.6%, #DDF5DE 75%);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.pie__contenedor{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pie__columna p{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.pie__columna p img{
    width: 25px;
}

.pie__mapa{
    display: block;
    width: 300px;
    margin: 0 auto;
}
.derechos__reservados{
    padding: 20px 0px;
    border-top: solid 1px #41A595;
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
}
.derechos__reservados p{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 10px;

}
#mapa__computadora{
    display: none;
}
.derechos__reservados .p__computadora{
    display: none;
}


@media(min-width:550px){
    .encabezado__cuerpo .auto{
        width: 400px;
    }

    .servicios{
        flex-direction: row;
    }
    .servicios div{
        border-right: 0.1px solid #0a0a0a54;
        padding: 0px 15px;
    }
    .servicios :last-child{
        border: none;
    }

    .servicios div img{
        width: 125px;
    }
}



/*VISTA COMPUTADORA*/

@media(min-width:950px){
    /*ENCABEZADO PARA EL INICIO*/
    #encabezado__home{
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0px;
    }
    
    .encabezado__header{
        max-width: 860px;
        width: 860px;
        justify-content: space-between;
        align-items: center;
    }
    .encabezado__cuerpo{
        margin: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 860px;
        width: 860px;
    }
    
    .encabezado__cuerpo div{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 30%;
    }

    .encabezado__cuerpo div h1{
        text-align: left;
        line-height: 45px;
        margin-top: 30px;
        font-size: 35px;
    }

    .encabezado__cuerpo .auto{
        width: 50%;
        margin: 0px;
        margin-top: 30px;
    }

    .encabezado__boton{
        display: block;
        padding: 10px 50px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 20px;
        text-align: left;
    }

    /*CUERPO O CONTENIDO DE LA PAGINA*/
    .cuerpo{
        padding: 40px 0px;
    }

    .cuerpo__titulo{
        font-size: 35px;
    }

    .servicios{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;    
        width: 860px;
        max-width: 860px;
    }

    .servicios div{
        text-align: center;
        border-right: 0.1px solid #0a0a0a54;
        font-weight: 400;
        padding-right:45px;

    }

    .servicios div img{
        width: 140px;
    }
    .servicios div h2{
        font-size: 22px;
        margin-top: 10px;
    }

    .verificaciones{
        margin-top: 40px;
        width: 860px;
        max-width: 860px;   
        padding: 0px 40px;
    }
    .verificaciones p{
        font-size: 22px;
        line-height: 26px;
    }
    .verificaciones span{
        color: #5A975E;
    }

    .verificaciones__contenido{
        display: flex;
        flex-direction: row;
        width: 860px;
        max-width: 860px; 
        padding: 0px 40px;
       
    }
    .verificaciones__contenedor{
        margin-top: 20px;
        width: 70%;
        gap: 25px;
    }

    .verificaciones__contenedor h4{
        font-size: 18px;
        color: #5A975E;
    } 

    .verificaciones__contenedor div p{
        font-size: 14px;
    }

    .verificaciones__tarea{
        display: block;
        margin: 0 auto;
        width: 180px;
    }

    .acceso{
        width: 860px;
        max-width: 860px;
        margin-top: 80px;
        padding: 40px 20px;
        height: 300px;

    }
    .acceso__contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
        height: 130px;
    }
    .acceso__contenedor h2{
        color: #fff;
        font-weight: 300;
        text-align: center;
        font-size: 28px;
        margin-top: 20px;
    }
    .acceso__contenedor__boton{
        width: 200px;
        padding: 10px 30px; 
        margin-top: 20px; 
        border-radius: 20px;
    }

    .tramite{
        margin-top: 30px;
        font-size: 30px;
        color: #fff;
    }
    .garantizado{
        text-align: center;
        color:#fff;
        margin: 10px;
        font-size: 20px;
    }
   
}

@media(min-width:950px){
    /*ENCABEZADO*/
    #encabezado__mapa{
        display: block;
        width: 150px;
    }
    .encabezado{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .encabezadoDiv{
        max-width: 860px;
        width: 860px;
    }
    .encabezado__div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /*CUERPO*/
    #cuerpo__mapa__abajo{
        display: block;
        position: absolute;

        bottom: 0;
        left:0;
        
    }

    /*PIE DE PAGINA*/
    #mapa__celular{
        display: none;
    }
    #mapa__computadora {
        display: block;
    }
    #mapa__computadora img{
        width: 175px;
    }
    .pie{
        padding: 20px 30px;
        align-items: center;
    }
    .pie__contenedor{
        flex-direction: row;

    }
    .derechos__reservados{
        border-top: solid 1px #41A595;
        max-width: 860px;
        margin-top: 20px;
        width: 100%;
    }
    .derechos__reservados p{
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 10px;
    }

    .pie__columna{
        width: 200px
    }
    .derechos__reservados .p__celular{
        display: none;
    }
    .derechos__reservados .p__computadora{
        display: block;
    }

}