.cuerpo__vehiculo{
    gap: 10px;
}
.cuerpo__vehiculo h1{
    text-align: center;
    font-weight: 400;
}
.cuerpo__vehiculo p{
    color: #504f4f;
}

.cuerpo__vehiculo table{
    width: 95%;
    border-collapse: collapse;
}

.cuerpo__vehiculo table td,th{
    padding: 14px 0px;
    border: 1px solid #0000007a;
    font-weight: 400;
    text-align: center;
    width: 20%;
}
.cuerpo__vehiculo table thead tr{
    background-color: #86D28B;
}
.cuerpo__vehiculo table td{
    background-color: #D9D9D9;
}

.input__asignar{
    margin: 20px 0px;
    display: block;
    height: 30px;
    font-size: 18px;
    position: relative;
    padding-left: 35px;
    line-height: 30px;
    margin-bottom: 40px;
    cursor: pointer;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__asignar input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius:8px;
    border: 2px solid #000000;
    padding: 12px;
}

/* On mouse-over, add a grey background color */
.input__asignar:hover input ~ .checkmark {
background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.input__asignar input:checked ~ .checkmark {
background-color: #4A884F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.input__asignar input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.input__asignar .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cuerpo__vehiculo .td__checkbox{
    position: relative;
}
.cuerpo__vehiculo label{
    position: absolute;
}
.cuerpo__vehiculo .input__asignar{
    position: absolute;    
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    top: 0px; 
    width: 30%;
}
.vehiculo__boton{
    background-color: #95C8E5;
    padding: 15px 40px;
    text-decoration: none;
    color: #000000;
    border-radius: 15px;
    font-weight: bold;
}
#link__pintado{
    background-color: #86D28B;
}

/*VISTA COMPUTADORA*/
@media(min-width:950px){
    /* CUERPO VEHICULO*/
    .cuerpo__vehiculo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(244, 244, 244, 0.11) 0%, rgba(115, 115, 115, 0.11) 100%);
        height: fit-content;
        width: 650px;
        max-width: 650px;
    }
    .cuerpo__vehiculo h1{
        text-align: left;
        font-weight: 400;
        position: relative;
        right: 140px;
        top: 5px;
        font-size: 30px;
        
    }
    .cuerpo__vehiculo p{
        color: #504f4f;
    }
    .cuerpo__vehiculo table {
        width: 80%;
        border-collapse: collapse;
    }
    .cuerpo__vehiculo table td,th{
        padding: 10px 0px;
        border: 1px solid #0000007a;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }
    .cuerpo__vehiculo table thead tr{
        background-color: #86D28B;
    }
    .cuerpo__vehiculo table td{
        background-color: #D9D9D9;
    }
    .vehiculo__boton{
        position: relative;
        background-color: #95C8E5;
        padding: 10px 30px;
        text-decoration: none;
        color: #000000;
        border-radius: 15px;
        top: 15px;
        font-weight: bold;
        font-size: 15px;
    }
    .cuerpo__vehiculo .input__asignar{
        position: absolute;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        top: -8px;
    }
}
