.cuerpo__turno{
    gap: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.formulario label {
    margin-right: 10px;
}
.selector-horario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cuerpo__turno h1{
    text-align: center;
    font-weight: 400;
}
.cuerpo__turno p{
    color: #504f4f;
}

.cuerpo__turno .formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formulario div label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.formulario div select{
    width: 200px;
    border: none;
    height: 40px;
    font-size: 17px;
    padding: 0px 10px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #838383;
}
.formulario div input{
    width: 250px;
    border: none;
    height: 40px;
    font-size: 17px;
    padding: 0px 10px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #838383;
}


.boton__fecha{
    background-color: #95C8E5;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
} 

.boton__fecha:hover{
    background-color: #95c8e5a8;
}

/*VISTA COMPUTADORA*/
@media(min-width:950px) {
    /* TURNO*/
    .cuerpo__turno{
        display: flex;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(244, 244, 244, 0.11) 0%, rgba(115, 115, 115, 0.11) 100%);
        max-height: 415px;
        height: 415px;
        width: 650px;
        max-width: 650px;
    }
    .cuerpo__turno h1{
        text-align: left;
        width: 100%;
        font-weight: 400;
    }
    
    .cuerpo__turno p{
        color: #504f4f;
        text-align: center;
    }
    .cuerpo__turno .formulario{
        display: flex;
        flex-direction: column;
        gap: 15px;

    }
    .cuerpo__turno .formulario label{
        margin-bottom: 4px;
    }

    .formulario div select{
        width: 250px;
    }
    
    .boton__fecha{
        font-size: 15px;
        padding: 15px 20px;
    }
}


