/* CONTENIDO PRINCIPAL */
.planta__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.planta__formulario label{
    display: block;
}
.planta__formulario select{
    width: 250px;
    border: none;
    height: 40px;
    font-size: 17px;
    padding: 0px 10px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #838383;
}
.planta__boton{
    text-decoration: none;
    color: #000000;
    background-color: #95C8E5;
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: 30px;
    font-weight: bold;
}


/*VISTA COMPUTADORA*/
@media(min-width:950px){
    /* CONTENIDO */
    .cuerpo__planta{
        display: flex;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(244, 244, 244, 0.11) 0%, rgba(115, 115, 115, 0.11) 100%);
        width: 650px;
        max-width: 650px;
        gap: 20px;
    }
    .cuerpo__planta h1{
        font-weight: 400;
        font-size: 1.5rem;
        align-self: flex-start;
    }
}