/*VISTA CELULAR*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    z-index: 10;
}

body{
    display: grid;
    grid-template-areas: "encabezado" "cuerpo" "pie";
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 100px 600px auto;
}

/*ENCABEZADO*/
.encabezado{
    grid-area: encabezado;
    height: 100px;
    background: linear-gradient(90deg, #DCF5DD 25%, #FFFFFF 49.6%, #DDF5DE 75%);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.encabezadoDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.encabezado__imagen{
    width: 60px;
}
#encabezado__mapa{
    display: none;
}

.encabezado__parrafo{
    text-align: center;
    font-weight: bold;
}
.encabezado__parrafo__dos{
    color: #41A595;
}

/*CUERPO O CONTENIDO DE LA PAGINA*/
.cuerpo{
    grid-area: cuerpo;
    background-color: #F4F4F4;
    position: relative;
}
.cuerpo__mapa{
    width: 155px;
}

#cuerpo__mapa__abajo{
    display: none;
}
#cuerpo__mapa__arriba{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;

}


/*PIE DE PAGINA*/
.pie{
    grid-area: pie;
    background: linear-gradient(90deg, #DCF5DD 25%, #FFFFFF 49.6%, #DDF5DE 75%);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.pie__contenedor{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pie__columna p{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.pie__columna p img{
    width: 25px;
}

.pie__mapa{
    display: block;
    width: 300px;
    margin: 0 auto;
}
.derechos__reservados{
    padding: 20px 0px;
    border-top: solid 1px #41A595;
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
}
.derechos__reservados p{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 10px;

}
#mapa__computadora{
    display: none;
}
.derechos__reservados .p__computadora{
    display: none;
}


/*VISTA COMPUTADORA*/
@media(min-width:950px){
    /*ENCABEZADO*/
    #encabezado__mapa{
        display: block;
        width: 150px;
    }
    .encabezado{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .encabezadoDiv{
        max-width: 860px;
        width: 860px;
    }
    .encabezado__div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /*CUERPO*/
    #cuerpo__mapa__abajo{
        display: block;
        position: absolute;

        bottom: 0;
        left:0;
        
    }

    /*PIE DE PAGINA*/
    #mapa__celular{
        display: none;
    }
    #mapa__computadora {
        display: block;
    }
    #mapa__computadora img{
        width: 175px;
    }
    .pie{
        padding: 20px 30px;
        align-items: center;
    }
    .pie__contenedor{
        flex-direction: row;

    }
    .derechos__reservados{
        border-top: solid 1px #41A595;
        max-width: 860px;
        margin-top: 20px;
        width: 100%;
    }
    .derechos__reservados p{
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 10px;
    }

    .pie__columna{
        width: 200px
    }
    .derechos__reservados .p__celular{
        display: none;
    }
    .derechos__reservados .p__computadora{
        display: block;
    }

}