<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Hoja CSS personalizada para este HTML -->
    <link rel="stylesheet" href="../css/seleccionar_fecha.css" />
    <!-- Hoja CSS con estilos globales (navbar,footer) -->
    <link rel="stylesheet" href="../mainStyles.css" />
    <!-- UniIcon CDN Link  -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <title>Solicitar Turno</title>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <style>
      .formulario {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .formulario label {
        margin-right: 10px;
      }
      .selector-horario {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    </style>
  </head>
  <body>
    <header class="encabezado">
      <div class="encabezado__izquierda">
        <a href="/index.html">
          <img src="../imagenes/logo.png" class="encabezado__imagen" />
        </a>
        <div class="encabezado__derecha">
          <img src="../imagenes/mapa.svg" alt="mapa" id="encabezado__mapa" />
          <div class="encabezado__descripcion">
            <p class="encabezado__parrafo">Departamento del Oeste</p>
            <p class="encabezado__parrafo encabezado__parrafo__dos">
              Buenos Aires
            </p>
          </div>
        </div>
      </div>
    </header>

    <main class="cuerpo">
      <img
        src="../imagenes/mapa__oeste__encabezado.svg"
        id="cuerpo__mapa__arriba"
        class="cuerpo__mapa"
      />
      <img
        src="../imagenes/mapa__oeste__pie.svg"
        id="cuerpo__mapa__abajo"
        class="cuerpo__mapa"
      />

      <!--Mobile-->
      <div class="cuerpo__usuario" id="perfilCelular">
        <img src="../iconos/menu/usuario.svg" alt="usuario" />
        <div>
          <p>Roberto Carlos</p>
          <p id="dni">DNI:41032589</p>
        </div>
      </div>

      <div class="cuerpo__contenedor">
        <div class="cuerpo__menu">
          <!-- INFORMACION DEL USUARIO -->
          <div class="cuerpo__usuario" id="perfilComputadora">
            <img src="../iconos/menu/usuario.svg" alt="usuario" />
            <div>
              <p>Roberto Carlos</p>
              <p id="dni">DNI:41032589</p>
            </div>
          </div>
          <!-- LISTA DE LINKS -->
          <div class="cuerpo__links">
            <a href="" class="cuerpo__link link_activo"
              ><img src="../iconos/menu/home.svg" alt="" srcset="" /><span
                class="icono__texto"
                >Inicio</span
              ></a
            >
            <a href="" class="cuerpo__link"
              ><img src="../iconos/menu/bus.svg" alt="" srcset="" /><span
                class="icono__texto"
                >Vehiculos</span
              ></a
            >
            <a href="" class="cuerpo__link"
              ><img src="../iconos/menu/escudo.svg" alt="" srcset="" /><span
                class="icono__texto"
                >Multas</span
              ></a
            >
            <a href="" class="cuerpo__link"
              ><img src="../iconos/menu/reloj.svg" alt="" srcset="" /><span
                class="icono__texto"
                >Historial</span
              ></a
            >
            <a href="" class="cuerpo__link"
              ><img src="../iconos/menu/ayuda.svg" alt="" srcset="" /><span
                class="icono__texto"
                >Ayuda</span
              ></a
            >
            <a href="" class="cuerpo__link"
              ><img src="../iconos/menu/salir.svg" alt="" srcset="" /><span
                class="icono__texto"
                >Salir</span
              ></a
            >
          </div>
        </div>
        <div class="cuerpo__turno cuerpo__contenido-principal">
          <!-- BARRA DE PROGRESO -->
          <div>
            <div class="bar_container">
              <i class="uil uil-schedule bar_icon bar_item bar_item_active"></i>
              <span class="linea1 bar_item bar_line"></span>
              <i class="uil uil-car bar_icon bar_item"></i>
              <span class="linea2 bar_item bar_line"></span>
              <i class="uil uil-map-marker bar_icon bar_item"></i>
              <span class="linea3 bar_item bar_line"></span>
              <i class="uil uil-user bar_icon bar_item"></i>
              <span class="linea4 bar_item bar_line"></span>
              <i class="uil uil-check-circle bar_icon bar_item"></i>
            </div>
          </div>
          <h1>Seleccione fecha y horario</h1>
          <div class="formulario">
            <div>
              <label for="datepicker">Fecha:</label>
              <input type="text" id="datepicker" name="fecha" />
            </div>
            <div class="selector-horario">
              <label for="horario">Horario:</label>
              <select id="horario" name="horario">
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
              </select>
            </div>
          </div>
          <a href="seleccionar_vehiculo.html" class="boton__fecha"
            >Solicitar turno</a
          >
        </div>
      </div>
    </main>

    <footer class="pie">
      <div class="pie__contenedor">
        <div class="pie__columna" id="mapa__computadora">
          <img
            src="../imagenes/mapa_computadora.svg"
            class="pie__mapa"
            alt="mapa"
          />
        </div>
        <div class="pie__columna">
          <h3>Secciones</h3>
          <p>Ayuda</p>
          <p>Plantas</p>
          <p>Reserva tu turno</p>
          <p>Cancelar turno</p>
        </div>
        <div class="pie__columna">
          <h3>Contacto</h3>
          <p>
            <img src="../iconos/correo.svg" alt="correo" /> Correo electrónico
          </p>
          <p><img src="../iconos/whatsapp.svg" alt="whatsapp" /> Whatsapp</p>
        </div>
        <div class="pie__columna">
          <h3>Redes</h3>
          <p><img src="../iconos/twitter.svg" alt="twitter" /> Twitter (X)</p>
          <p><img src="../iconos/youtube.svg" alt="youtube" /> Youtube</p>
          <p><img src="../iconos/instagram.svg" alt="instagram" /> Instagram</p>
          <p><img src="../iconos/facebook.svg" alt="facebook" /> Facebook</p>
        </div>
        <div class="pie__columna" id="mapa__celular">
          <img
            src="../imagenes/mapa_celular.svg"
            class="pie__mapa"
            alt="mapa"
          />
        </div>
      </div>
      <div class="derechos__reservados">
        <p class="p__celular">&#169; Departamento del Oeste - 2024</p>
        <p class="p__celular">Todos los derechos Reservados</p>
        <p class="p__computadora">
          &#169; Departamento del Oeste - 2024 Todos los derechos Reservados
        </p>
      </div>
    </footer>

    <script src="../index.js"></script>
  </body>
</html>
